<div class="attributes abilities resources flexrow">
  <div class="resource">
    <label for="system.abilities.str" class="resource-label rollable" data-roll-type="abilityCheck" data-roll-note="str">{{localize 'ROGUE.Str'}} <span>({{#ability system.abilities.str}}{{/ability}}{)</span></label>
    <input class="clear-input" type="number" name="system.abilities.str" value="{{system.abilities.str}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label for="system.abilities.dex" class="resource-label rollable" data-roll-type="abilityCheck" data-roll-note="dex">{{localize 'ROGUE.Dex'}} <span>({{#ability system.abilities.dex}}{{/ability}})</span></label>
    <input class="clear-input" type="number" name="system.abilities.dex" value="{{system.abilities.dex}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label for="system.abilities.con" class="resource-label rollable" data-roll-type="abilityCheck" data-roll-note="con">{{localize 'ROGUE.Con'}} <span>({{#ability system.abilities.con}}{{/ability}})</span></label>
    <input class="clear-input" type="number" name="system.abilities.con" value="{{system.abilities.con}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label for="system.abilities.int" class="resource-label rollable" data-roll-type="abilityCheck" data-roll-note="int">{{localize 'ROGUE.Int'}} <span>({{#ability system.abilities.int}}{{/ability}})</span></label>
    <input class="clear-input" type="number" name="system.abilities.int" value="{{system.abilities.int}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label for="system.abilities.wis" class="resource-label rollable" data-roll-type="abilityCheck" data-roll-note="wis">{{localize 'ROGUE.Wis'}} <span>({{#ability system.abilities.wis}}{{/ability}})</span></label>
    <input class="clear-input" type="number" name="system.abilities.wis" value="{{system.abilities.wis}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label for="system.abilities.cha" class="resource-label rollable" data-roll-type="abilityCheck" data-roll-note="cha">{{localize 'ROGUE.Cha'}} <span>({{#ability system.abilities.cha}}{{/ability}})</span></label>
    <input class="clear-input" type="number" name="system.abilities.cha" value="{{system.abilities.cha}}" data-dtype="Number"/>
  </div>
</div>
