<div class="attributes abilities resources flexrow">
  <div class="resource">
    <label for="system.abilities.str" class="resource-label">{{localize 'ROGUE.StrengthShort'}} <span>({{#ability system.abilities.str}}{{/ability}})</span></label>
    <span class="plus">+</span>
    <input class="clear-input" type="number" name="system.abilities.str" value="{{system.abilities.str}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label for="system.abilities.dex" class="resource-label">{{localize 'ROGUE.DexterityShort'}} <span>({{#ability system.abilities.dex}}{{/ability}})</span></label>
    <span class="plus">+</span>
    <input class="clear-input" type="number" name="system.abilities.dex" value="{{system.abilities.dex}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label for="system.abilities.con" class="resource-label">{{localize 'ROGUE.ConstitutionShort'}} <span>({{#ability system.abilities.con}}{{/ability}})</span></label>
    <span class="plus">+</span>
    <input class="clear-input" type="number" name="system.abilities.con" value="{{system.abilities.con}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label for="system.abilities.int" class="resource-label">{{localize 'ROGUE.IntelligenceShort'}} <span>({{#ability system.abilities.int}}{{/ability}})</span></label>
    <span class="plus">+</span>
    <input class="clear-input" type="number" name="system.abilities.int" value="{{system.abilities.int}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label for="system.abilities.wis" class="resource-label">{{localize 'ROGUE.WisdomShort'}} <span>({{#ability system.abilities.wis}}{{/ability}})</span></label>
    <span class="plus">+</span>
    <input class="clear-input" type="number" name="system.abilities.wis" value="{{system.abilities.wis}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label for="system.abilities.cha" class="resource-label">{{localize 'ROGUE.CharismaShort'}} <span>({{#ability system.abilities.cha}}{{/ability}})</span></label>
    <span class="plus">+</span>
    <input class="clear-input" type="number" name="system.abilities.cha" value="{{system.abilities.cha}}" data-dtype="Number"/>
  </div>
</div>
