<div class="attributes abilities resources flexrow">
  {{#each system.abilities as |ability key|}}
    <div class="resource">
      <label for="system.abilities.{{key}}.value" class="resource-label rollable" data-roll-type="abilityCheck" data-roll-note="{{key}}, {{ability.name}}" title="{{localize ability.name}}">{{localize ability.label}}<span>({{ability.defense}})</span></label>
      <input class="clear-input" type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
    </div>
  {{/each}}
</div>
