<div class="item-block inventory">
  <div class="block-header">
    <h2>{{localize 'ROGUE.Inventory'}}</h2>
    <div class="load">
      <span>{{#load system.slots}}{{/load}}</span>
      <span>({{system.slots.used}}</span>
      <span>/</span>
      <span>{{system.slots.max}})</span>
    </div>
    <div class="create-item">
      <button class="drop-btn"><i class="fas fa-plus"></i>{{localize 'ROGUE.ItemAdd'}}</button>
      <div class="drop-content">
        <a class="item-add item-create" data-type="loot"><i class="fas fa-plus"></i>{{localize 'ROGUE.CreateLoot'}}</a>
        <a class="item-add item-create" data-type="protection"><i class="fas fa-plus"></i>{{localize 'ROGUE.CreateProtection'}}</a>
        <a class="item-add item-create" data-type="weapon"><i class="fas fa-plus"></i>{{localize 'ROGUE.CreateWeapon'}}</a>
      </div>
    </div>
  </div>
  <ol class="items-list">
    {{#each gear as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name">
          <a class="item-image rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="{{localize 'ROGUE.ItemEdit'}}"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="{{localize 'ROGUE.ItemDelete'}}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
</div>
