<div class="movement flexcol">
  <label class="block-label" for="system.movement">{{localize 'ROGUE.Movement.Movement'}}</label>
  <div class="attributes flexrow">
    <div class="combat resource">
      <label for="system.movement.combat" class="resource-label">{{localize 'ROGUE.Movement.Combat'}}</label>
      <input class="clear-input" type="number" name="system.movement.combat" value="{{system.movement.combat}}" data-dtype="Number"/>
      <i class="far fa-question-circle" title="{{localize 'ROGUE.Movement.CombatUnits'}}" style="color: #cdab8f;"></i>
    </div>
    <div class="exploration resource">
      <label for="system.movement.exploration" class="resource-label">{{localize 'ROGUE.Movement.Exploration'}}</label>
      <input class="clear-input" type="number" name="system.movement.exploration" value="{{system.movement.exploration}}" data-dtype="Number"/>
      <i class="far fa-question-circle" title="{{localize 'ROGUE.Movement.ExplorationUnits'}}" style="color: #cdab8f;"></i>
    </div>
    <div class="journey resource">
      <label for="system.movement.journey" class="resource-label">{{localize 'ROGUE.Movement.Journey'}}</label>
      <input class="clear-input" type="number" name="system.movement.journey" value="{{system.movement.journey}}" data-dtype="Number"/>
      <i class="far fa-question-circle" title="{{localize 'ROGUE.Movement.JourneyUnits'}}" style="color: #cdab8f;"></i>
    </div>
  </div>
</div>
