<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="img-block">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class=" hp-bar resource">
        <progress id="system.hp.value" value="{{system.hp.value}}" max="{{system.hp.max}}" title="{{localize 'ROGUE.HP'}}"></progress>
        <div class="hp-input">
          <input class="clear-input" type="number" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
          <span> / </span>
          <input class="clear-input" type="number" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number"/>
        </div>
      </div>
    </div>

    <div class="header-fields">
      <h1 class="charname"><input class="clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'ROGUE.ActorName'}}"/></h1>
      <div class="resource level">
        <label for="system.level" class="resource-label">{{localize 'ROGUE.Level'}}</label>
        <span name="system.level">{{system.level}}</span>
      </div>
      <h3>{{localize 'ROGUE.Background'}}: <input class="clear-input" name="system.background" type="text" value="{{system.background}}" data-dtype="String"/></h3>

      {{> "systems/rogue/templates/actor/parts/abilities.hbs"}}
    </div>
  </header>

  <div class="after-header flexrow">
    <div class="armor attributes">
      <div class="resource">
        <label for="system.armor.value" class="resource-label">{{localize 'ROGUE.Armor'}} <span>({{system.armor.defense}})</span></label>
        <input class="clear-input" type="number" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number"/>
      </div>
    </div>

    {{> "systems/rogue/templates/actor/parts/movement.hbs"}}
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="general">{{localize 'ROGUE.NavGeneral'}}</a>
    <a class="item" data-tab="notes">{{localize 'ROGUE.NavNotes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Narrative Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      {{> "systems/rogue/templates/actor/parts/inventory.hbs"}}
      {{> "systems/rogue/templates/actor/parts/spells.hbs"}}
    </div>

    {{!-- Owned Description Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      <div class="resources flexrow">
        <div class="resource exp">
          <label for="system.exp" class="resource-label">{{localize 'ROGUE.Experience'}}:</label>
          <input type="number" name="system.exp.value" value="{{system.exp.value}}" data-dtype="Number"/>
          <span>/</span>
          <span name="system.exp.max"/>{{system.exp.max}}</span>
        </div>
        <div class="resource languages flexrow">
          <label class="resource-label">{{localize 'ROGUE.KnownLanguages'}}:</label>
          <input type="text" name="system.languages" value="{{system.languages}}" data-dtype="String"/>
        </div>
      </div>
      {{> "systems/rogue/templates/actor/parts/notes.hbs"}}
    </div>

  </section>
</form>
