<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="img-block">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class=" hp-bar resource">
        <progress id="system.hp.value" value="{{system.hp.value}}" max="{{system.hp.max}}" title="{{localize 'ROGUE.HP'}}"></progress>
        <div class="hp-input">
          <input class="clear-input" type="number" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
          <span> / </span>
          <input class="clear-input" type="number" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number"/>
        </div>
      </div>
    </div>

    <div class="header-fields">
      <h1 class="charname"><input class="clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'ROGUE.ActorName'}}"/></h1>
      <div class="resource armor">
        <label for="system.armor.value" class="resource-label">{{localize 'ROGUE.Armor'}} <span>({{system.armor.defense}})</span></label>
        <input class="clear-input" type="number" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number"/>
      </div>
      <h3>{{localize 'ROGUE.AddDescription'}}:<input class="clear-input" name="system.background" type="text" value="{{system.background}}" data-dtype="String"/></h3>

      {{> "systems/rogue/templates/actor/parts/abilities.hbs"}}
    </div>
  </header>

  <div class="after-header flexrow">
    <div class="morale attributes">
      <div class="resource">
        <label for="system.morale" class="resource-label">{{localize 'ROGUE.Morale'}}</label>
        <input class="clear-input" type="number" name="system.morale" value="{{system.morale}}" data-dtype="Number"/>
      </div>
    </div>

    {{> "systems/rogue/templates/actor/parts/movement.hbs"}}
  </div>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Narrative Tab --}}
    <div class="tab general">
      {{> "systems/rogue/templates/actor/parts/inventory.hbs"}}
      {{> "systems/rogue/templates/actor/parts/spells.hbs"}}
      {{> "systems/rogue/templates/actor/parts/notes.hbs"}}
    </div>

  </section>
</form>
