<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    {{> "systems/rogue/templates/actor/parts/img-block.hbs"}}

    <div class="header-fields">
      <h1 class="charname"><input class="clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'ROGUE.ActorName'}}"/></h1>
      <div class="resource armor">
        <label for="system.armor.value" class="resource-label">{{localize 'ROGUE.Armor'}} <span>({{system.armor.defense}})</span></label>
        <input class="clear-input" type="number" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number"/>
      </div>
      <h3 class="add-description"><input class="clear-input" name="system.background" type="text" value="{{system.background}}" data-dtype="String" placeholder="{{localize 'ROGUE.AddDescription'}}"/></h3>

      {{> "systems/rogue/templates/actor/parts/abilities.hbs"}}
    </div>
  </header>

  <div class="after-header flexrow">
    <div class="morale attributes">
      <div class="resource">
        <label for="system.morale" class="resource-label rollable" data-roll-type="moraleCheck">{{localize 'ROGUE.Morale'}}</label>
        <input class="clear-input" type="number" name="system.morale" value="{{system.morale}}" data-dtype="Number"/>
      </div>
    </div>

    {{> "systems/rogue/templates/actor/parts/movement.hbs"}}
  </div>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Narrative Tab --}}
    <div class="tab general">
      {{> "systems/rogue/templates/actor/parts/features.hbs"}}
      {{> "systems/rogue/templates/actor/parts/spells.hbs"}}
      {{> "systems/rogue/templates/actor/parts/inventory.hbs"}}
      {{> "systems/rogue/templates/actor/parts/notes.hbs"}}
    </div>

  </section>
</form>
