<form class="{{cssClass}}" autocomplete="off">
  <header class="items-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ROGUE.Spell'}}"/></h1>
      <div class="resources flexrow">
        <div class="resource">
          <label for="system.prepared" class="resource-label">{{localize 'ROGUE.SpellPrepared'}}</label>
          <input type="checkbox" name="system.prepared" data-dtype="Boolean" {{#if system.prepared}} checked {{/if}}/>
        </div>
        <div class="resource">
          <label for="system.blocked" class="resource-label">{{localize 'ROGUE.SpellBlocked'}}</label>
          <input type="checkbox" name="system.blocked" data-dtype="Boolean" {{#if system.blocked}} checked {{/if}}/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab">
      <hr>
      {{editor enrichedDescription target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>

</form>
