<form class="{{cssClass}}" autocomplete="off">
  <header class="items-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ROGUE.Weapon'}}"/></h1>
      <div class="resources flexrow">
        {{> "systems/rogue/templates/item/parts/gear.hbs"}}
        <div class="resource">
          <label for="system.type" class="resource-label">{{localize 'ROGUE.WeaponType'}}:</label>
          <select name="system.type">
            {{#select system.type}}
              <option value="one-handed">{{localize 'ROGUE.OneHanded'}}</option>
              <option value="two-handed">{{localize 'ROGUE.TwoHanded'}}</option>
              <option value="none">-</option>
            {{/select}}
          </select>
        </div>
        <div class="resource damage">
          <label for="system.damage" class="resource-label">{{localize 'ROGUE.DamageDice'}}:</label>
          <select name="system.damage">
            {{#select system.damage}}
              <option value="d4">{{localize 'ROGUE.Dice.d4'}}</option>
              <option value="d6">{{localize 'ROGUE.Dice.d6'}}</option>
              <option value="d8">{{localize 'ROGUE.Dice.d8'}}</option>
              <option value="d10">{{localize 'ROGUE.Dice.d10'}}</option>
              <option value="d12">{{localize 'ROGUE.Dice.d12'}}</option>
            {{/select}}
          </select>
        </div>
        <div class="resource ability">
          <label for="system.ability" class="resource-label">{{localize 'ROGUE.Ability'}}:</label>
          <select name="system.ability">
            {{#select system.ability}}
              {{#each item.actor.system.abilities as |ability key|}}
                <option value="{{key}}">{{localize ability.name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab">
      <hr>
      {{editor enrichedDescription target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
